<section class="content">
<div class="container-fluid">
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-blue-grey">
                <h2>
                    Pharmacy Stock <!-- Patient List <small>Description text here...</small> -->
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <!-- <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="rotation" data-loading-color="lightGreen"> -->
                            <!-- <i class="material-icons">loop</i> -->
                            <!-- <button  data-toggle="modal" data-target="#addModal" class="btn btn-info" ng-click="setAddModal()">
                              <i class="glyphicon glyphicon-edit"></i>
                            </button> -->
                            <!-- <button  data-toggle="modal" data-target="#addPatientModal">
                              <i class="glyphicon glyphicon-plus"></i>
                            </button>
                            <button  ng-click="getinfo()">
                              <i class="glyphicon glyphicon-plus"></i>
                            </button> -->
                            <!-- <button type="submit" class="btn btn-info"  data-toggle="modal" data-target="#addPatientModal"><i class="glyphicon glyphicon-edit" ></i></button>
                        <!-- </a> -->
                    </li>
                    <!-- <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
            <div class="body">
                <div class="" ng-class="{'table-responsive p-t-10':editable}">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable responsive">
                        <thead>
                        <tr>
                            <th class="text-center">Drug Name</th>
                            <th class="text-center">Unit Type</th>
                            <th class="text-center">Catergory Type</th>
                            <th class="text-center">Unit Type</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Place Order</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="drug in drugs track by $index" >
                        <!-- <tr ng-repeat="patient in patients"> -->
                            <td>{{drug.name}}</td>
                            <td>{{drug.type}}</td>
                            <td>{{drug.catergory}}</td>
                            <td>{{drug.unitPrice}}</td>
                            <td>{{drug.quantity}}</td>
                            <td><button >
                               <!-- data-toggle="modal" data-target="#editPatientModal" ng-click="setEditModal(patient)" -->
                                    Send Mail
                            </button></td>
                        </tr>
</tr>
</tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->
</div>
</section>
