<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                Patients
            </h2>
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Add New Patient <small>Description text here...</small>
                        </h2>
                        <ul class="header-dropdown m-r-0">
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="material-icons">info_outline</i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="material-icons">help_outline</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form ng-submit="addNewPatient()">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" ng-model="patient.title"/>
                                                <label class="form-label">Title</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Category</label>
                                            <input type="text" class="form-control" ng-model="patient.firstname"/>
                                            <label class="form-label">First Name</label>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label">Unit</label>
                                                    <select class="form-control show-tick" data-live-search="true">
                                                        <option value="">-- Please select --</option>
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="40">40</option>
                                                        <option value="50">50</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label">Type</label>
                                                    <select class="form-control show-tick" data-live-search="true">
                                                        <option value="">-- Please select --</option>
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="40">40</option>
                                                        <option value="50">50</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" ng-model="drug.reOrder" />
                                                        <label class="form-label">Reorder Level</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" ng-model="drug.danger"/>
                                                        <label class="form-label">Danger Level</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <div class="form-line m-t-10">
                                                <textarea rows="5" class="form-control no-resize" ng-model="drug.remark"></textarea>
                                                <label class="form-label">Remark</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default btn-lg m-l-10 waves-effect  pull-right">Clear</button>
                                        <button type="submit" class="btn bg-teal btn-lg m-l-10 waves-effect  pull-right">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
        <!-- Exportable Table -->
        <!-- <div class="row clearfix">-->
            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                <!--<div class="card">-->
                    <!--<div class="header bg-blue-grey">-->
                        <!--<h2>-->
                            <!--Available Drug List <small>Description text here...</small>-->
                        <!--</h2>-->
                        <!--<ul class="header-dropdown m-r&#45;&#45;5">-->
                            <!--<li>-->
                                <!--<a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="rotation" data-loading-color="lightGreen">-->
                                    <!--<i class="material-icons">loop</i>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="dropdown">-->
                                <!--<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                                    <!--<i class="material-icons">more_vert</i>-->
                                <!--</a>-->
                                <!--<ul class="dropdown-menu pull-right">-->
                                    <!--<li><a href="javascript:void(0);">Action</a></li>-->
                                    <!--<li><a href="javascript:void(0);">Another action</a></li>-->
                                    <!--<li><a href="javascript:void(0);">Something else here</a></li>-->
                                <!--</ul>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="body">-->
                        <!--<div class="" ng-class="{'table-responsive p-t-10':editable}">-->
                            <!--<table class="table table-bordered table-striped table-hover dataTable js-exportable responsive">-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>#</th>-->
                                    <!--<th>Title</th>-->
                                    <!--<th>First Name</th>-->
                                    <!--<th>Last Name</th>-->
                                    <!--<th>Date of Birth</th>-->
                                    <!--<th>Reorder Level</th>-->
                                    <!--<th>Danger Level</th>-->
                                    <!--<th>Remark</th>-->
                                    <!--<th class="text-center">Action</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!-- <tbody> -->
                                <!--<tr ng-repeat="patient in model.patientsList track by $index" ng-include="getTemplate(patient)">-->
                                    <!--&lt;!&ndash;                                                <td>{{drug.$index}}</td>-->
                                                                                    <!--<td>{{drug.name}}</td>-->
                                                                                    <!--<td>{{drug.Category}}</td>-->
                                                                                    <!--<td>{{drug.unit}}</td>-->
                                                                                    <!--<td>{{drug.type}}</td>-->
                                                                                    <!--<td>{{drug.reOrder}}</td>-->
                                                                                    <!--<td>{{drug.danger}}</td>-->
                                                                                    <!--<td>{{drug.remark}}</td>-->
                                                                                    <!--<td class="text-center">-->
                                                                                        <!--<button class="btn btn-warning btn-xs waves-effect" ng-click="addUpdateDrug()"><i class="material-icons">mode_edit</i></button>-->
                                                                                        <!--<button class="btn btn-danger btn-xs waves-effect m-l-10" ng-click="deleteDrug()"><i class="material-icons">delete</i></button>-->
                                                                                    <!--</td>&ndash;&gt;-->
                                <!--</tr>-->
                                <!--&lt;!&ndash;                                            <tr>-->
                                                                                <!--<td><span class="badge bg-grey">#12:34</span></td>-->
                                                                                <!--<td>-->
                                                                                    <!--<div class="form-group">-->
                                                                                        <!--<input type="text" class="form-control" placeholder="Name" />-->
                                                                                    <!--</div>-->
                                                                                <!--</td>-->
                                                                                <!--<td>-->
                                                                                    <!--<div class="form-group">-->
                                                                                        <!--<select class="form-control show-tick" data-live-search="true">-->
                                                                                            <!--<option value="">&#45;&#45; Please select &#45;&#45;</option>-->
                                                                                            <!--<option value="10">10</option>-->
                                                                                            <!--<option value="20">20</option>-->
                                                                                            <!--<option value="30">30</option>-->
                                                                                            <!--<option value="40">40</option>-->
                                                                                            <!--<option value="50">50</option>-->
                                                                                        <!--</select>-->
                                                                                    <!--</div>-->
                                                                                <!--</td>-->
                                                                                <!--<td>-->
                                                                                    <!--<div class="form-group">-->
                                                                                        <!--<select class="form-control show-tick" data-live-search="true">-->
                                                                                            <!--<option value="">&#45;&#45; Please select &#45;&#45;</option>-->
                                                                                            <!--<option value="10">10</option>-->
                                                                                            <!--<option value="20">20</option>-->
                                                                                            <!--<option value="30">30</option>-->
                                                                                            <!--<option value="40">40</option>-->
                                                                                            <!--<option value="50">50</option>-->
                                                                                        <!--</select>-->
                                                                                    <!--</div>-->
                                                                                <!--</td>-->
                                                                                <!--<td>-->
                                                                                    <!--<div class="form-group">-->
                                                                                        <!--<select class="form-control show-tick" data-live-search="true">-->
                                                                                            <!--<option value="">&#45;&#45; Please select &#45;&#45;</option>-->
                                                                                            <!--<option value="10">10</option>-->
                                                                                            <!--<option value="20">20</option>-->
                                                                                            <!--<option value="30">30</option>-->
                                                                                            <!--<option value="40">40</option>-->
                                                                                            <!--<option value="50">50</option>-->
                                                                                        <!--</select>-->
                                                                                    <!--</div>-->
                                                                                <!--</td>-->
                                                                                <!--<td>-->
                                                                                    <!--<div class="form-group">-->
                                                                                        <!--<input type="text" class="form-control" placeholder="Name" />-->
                                                                                    <!--</div>-->
                                                                                <!--</td>-->
                                                                                <!--<td>-->
                                                                                    <!--<div class="form-group">-->
                                                                                        <!--<input type="text" class="form-control" placeholder="Name" />-->
                                                                                    <!--</div>-->
                                                                                <!--</td>-->
                                                                                <!--<td>-->
                                                                                    <!--<div class="form-group">-->
                                                                                        <!--<input type="text" class="form-control" placeholder="Name" />-->
                                                                                    <!--</div>-->
                                                                                <!--</td>-->
                                                                                <!--<td class="text-center">-->
                                                                                    <!--<button class="btn btn-warning btn-xs waves-effect" ng-click="saveChanges()"><i class="material-icons">save</i></button>-->
                                                                                    <!--<button class="btn btn-danger btn-xs waves-effect m-l-10" ng-click="resetChanges()"><i class="material-icons">clear</i></button>-->
                                                                                <!--</td>-->
                                                                            <!--</tr>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                        <tr>-->
                                                                            <!--<td>Tiger Nixon</td>-->
                                                                            <!--<td>System Architect</td>-->
                                                                            <!--<td>Edinburgh</td>-->
                                                                            <!--<td>61</td>-->
                                                                            <!--<td>2011/04/25</td>-->
                                                                            <!--<td>$320,800</td>-->
                                                                            <!--<td>$320,800</td>-->
                                                                            <!--<td class="text-center">-->
                                                                                <!--<button class="btn btn-warning btn-xs waves-effect"><i class="material-icons">mode_edit</i></button>-->
                                                                                <!--<button class="btn btn-danger btn-xs waves-effect m-l-10"><i class="material-icons">remove</i></button>-->

                                                                            <!--</td>-->
                                                                        <!--</tr>-->
                                                                        <!--<tr>-->
                                                                            <!--<td>Tiger Nixon</td>-->
                                                                            <!--<td>System Architect</td>-->
                                                                            <!--<td>Edinburgh</td>-->
                                                                            <!--<td>61</td>-->
                                                                            <!--<td>2011/04/25</td>-->
                                                                            <!--<td>$320,800</td>-->
                                                                            <!--<td>$320,800</td>-->
                                                                            <!--<td class="text-center">-->
                                                                                <!--<button class="btn btn-warning btn-xs waves-effect"><i class="material-icons">mode_edit</i></button>-->
                                                                                <!--<button class="btn btn-danger btn-xs waves-effect m-l-10"><i class="material-icons">remove</i></button>-->

                                                                            <!--</td>-->
                                                                        <!--</tr>-->
                                                                        <!--<tr>-->
                                                                            <!--<td>Tiger Nixon</td>-->
                                                                            <!--<td>System Architect</td>-->
                                                                            <!--<td>Edinburgh</td>-->
                                                                            <!--<td>61</td>-->
                                                                            <!--<td>2011/04/25</td>-->
                                                                            <!--<td>$320,800</td>-->
                                                                            <!--<td>$320,800</td>-->
                                                                            <!--<td class="text-center">-->
                                                                                <!--<button class="btn btn-warning btn-xs waves-effect"><i class="material-icons">mode_edit</i></button>-->
                                                                                <!--<button class="btn btn-danger btn-xs waves-effect m-l-10"><i class="material-icons">remove</i></button>-->

                                                                            <!--</td>-->
                                                                        <!--</tr>-->
                                                                        <!--<tr>-->
                                                                            <!--<td>Tiger Nixon</td>-->
                                                                            <!--<td>System Architect</td>-->
                                                                            <!--<td>Edinburgh</td>-->
                                                                            <!--<td>61</td>-->
                                                                            <!--<td>2011/04/25</td>-->
                                                                            <!--<td>$320,800</td>-->
                                                                            <!--<td>$320,800</td>-->
                                                                            <!--<td class="text-center">-->
                                                                                <!--<button class="btn btn-warning btn-xs waves-effect"><i class="material-icons">mode_edit</i></button>-->
                                                                                <!--<button class="btn btn-danger btn-xs waves-effect m-l-10"><i class="material-icons">remove</i></button>-->

                                                                            <!--</td>-->
                                                                        <!--</tr>&ndash;&gt;-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div> -->
        <!-- #END# Exportable Table -->
    </div>
</section>
