<section class="content">
    <div class="container-fluid">
        <!-- <div class="block-header">
            <h2>
                Patients
            </h2>
        </div> -->
        <!-- Basic Examples -->
        <!-- <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Add New Patient <small>Description text here...</small>
                        </h2>
                        <ul class="header-dropdown m-r-0">
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="material-icons">info_outline</i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="material-icons">help_outline</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form ng-submit="addNewPatient()">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" ng-model="patient.title"/>
                                                <label class="form-label">Title</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Category</label>
                                            <input type="text" class="form-control" ng-model="patient.firstname"/>
                                            <label class="form-label">First Name</label>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label">Unit</label>
                                                    <select class="form-control show-tick" data-live-search="true">
                                                        <option value="">-- Please select --</option>
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="40">40</option>
                                                        <option value="50">50</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label">Type</label>
                                                    <select class="form-control show-tick" data-live-search="true">
                                                        <option value="">-- Please select --</option>
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="40">40</option>
                                                        <option value="50">50</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" ng-model="drug.reOrder" />
                                                        <label class="form-label">Reorder Level</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" ng-model="drug.danger"/>
                                                        <label class="form-label">Danger Level</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <div class="form-line m-t-10">
                                                <textarea rows="5" class="form-control no-resize" ng-model="drug.remark"></textarea>
                                                <label class="form-label">Remark</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default btn-lg m-l-10 waves-effect  pull-right">Clear</button>
                                        <button type="submit" class="btn bg-teal btn-lg m-l-10 waves-effect  pull-right">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- #END# Basic Examples -->
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header bg-blue-grey">
                        <h2>
                            Patient List <!-- Patient List <small>Description text here...</small> -->
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li>
                                <!-- <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="rotation" data-loading-color="lightGreen"> -->
                                    <!-- <i class="material-icons">loop</i> -->
                                    <!-- <button  data-toggle="modal" data-target="#addModal" class="btn btn-info" ng-click="setAddModal()">
                                      <i class="glyphicon glyphicon-edit"></i>
                                    </button> -->
                                    <button  data-toggle="modal" data-target="#addPatientModal">
                                      <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                    <button  ng-click="getinfo()">
                                      <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                    <!-- <button type="submit" class="btn btn-info"  data-toggle="modal" data-target="#addPatientModal"><i class="glyphicon glyphicon-edit" ></i></button>
                                <!- </a> -->
                            </li>
                            <!-- <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </div>
                    <div class="body">
                      <input type="text" class="form-control" placeholder="Search" ng-model="searchName">
                        <div class="" ng-class="{'table-responsive p-t-10':editable}">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable responsive">
                                <thead>
                                <tr>
                                    <th>Patient ID</th>
                                    <th>Title</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Date of Birth</th>
                                    <th>Gender</th>
                                    <th>NIC</th>
                                    <th>Address</th>
                                    <th>Phone no</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="patient in patients track by $index" >
                                <!-- <tr ng-repeat="patient in patients"> -->
                                    <td>{{patient.patientID}}</td>
                                    <td>{{patient.title}}</td>
                                    <td>{{patient.firstname}}</td>
                                    <td>{{patient.lastname}}</td>
                                    <td>{{patient.dateofbirth}}</td>
                                    <td>{{patient.gender}}</td>
                                    <td>{{patient.NIC}}</td>
                                    <td>{{patient.address}}</td>
                                    <td>{{patient.phoneNo}}</td>
                                    <td><button  data-toggle="modal" data-target="#editPatientModal" ng-click="setEditModal(patient)">
                                            <i class="glyphicon glyphicon-edit"></i>
                                    </button></td>
                                </tr>
</tr>
</tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<div class="modal fade " id="addPatientModal" role="dialog">
<section class="content">
    <div class="container-fluid">
        <!-- <div class="block-header">
            <h2>
                Patients
            </h2>
        </div> -->
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Add New Patient
                        </h2>
                        <ul class="header-dropdown m-r-0">
                            <li>
                                <a href="javascript:void(0);" data-dismiss="modal">
                                    <i class="material-icons">clear</i>
                                </a>
                            </li>
                            <!-- <li>
                                <a href="javascript:void(0);">
                                    <i class="material-icons">help_outline</i>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <!-- <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" ng-model="patient.title"/>
                                                <label class="form-label">Title</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Category</label>
                                            <input type="text" class="form-control" ng-model="patient.firstname"/>
                                            <label class="form-label">First Name</label>

                                        </div> -->
                                        <!-- <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label">Unit</label>
                                                    <select class="form-control show-tick" data-live-search="true">
                                                        <option value="">-- Please select --</option>
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="40">40</option>
                                                        <option value="50">50</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label">Type</label>
                                                    <select class="form-control show-tick" data-live-search="true">
                                                        <option value="">-- Please select --</option>
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="40">40</option>
                                                        <option value="50">50</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- <div class="form-group">
                                            <label class="form-label">Category</label>
                                            <input type="text" class="form-control" ng-model="patient.firstname"/>
                                            <label class="form-label">First Name</label>
                                        </div>
                                    </div> -->
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" ng-model="patient.title" />
                                                        <label class="form-label">Title</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" ng-model="patient.firstname"/>
                                                        <label class="form-label">First Name</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                          <div class="form-group form-float">
                                            <div class="form-line m-t-10">

                                                <textarea rows="5" class="form-control no-resize" ng-model="patient.lastname"></textarea>
                                                <label class="form-label">Last Name</label>

                                            </div>
                                          </div>
                                        <!--  <div class="col-md-6 col-sm-6 col-xs-12">-->


                                            <div class="form-group form-float">
                                            <!--<div class="form-line m-t-10">-->
                                                <!--<textarea rows="5" class="form-control no-resize" ng-model="patient.lastname"></textarea>-->
                                                <label class="form-label">Date of Birth</label></br></br>
                                                <input type="date" name="bday" min="2000-01-02" >

                                          <!--  </div>-->
                                            </div>


                                            <!--<div class="form-group form-float">-->
                                              <div class="form-group form-float">
                                                <!-- <textarea rows="5" class="form-control no-resize" ng-model="patient.lastname"></textarea> -->
                                                <label class="form-label">Gender</label>
                                                <input type="radio" name="gender" value="male" checked> Male<br>
                                                <input type="radio" name="gender" value="female"> Female<br>
                                              </div>
                                            <!--/div-->

                                      <!--  </div>-->
<!---------------------------------------------------------------------->
                                        <div class="form-group form-float">
                                            <div class="form-line m-t-10">
                                                <textarea rows="5" class="form-control no-resize" ng-model="patient.NIC"></textarea>
                                                <label class="form-label">NIC</label>
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <div class="form-line m-t-10">
                                                <textarea rows="5" class="form-control no-resize" ng-model="patient.address"></textarea>
                                                <label class="form-label">Address</label>
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <div class="form-line m-t-10">
                                                <textarea rows="5" class="form-control no-resize" ng-model="patient.phoneNo"></textarea>
                                                <label class="form-label">Phone No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <!-- <button type="button" class="btn btn-default btn-lg m-l-10 waves-effect  pull-right">Clear</button> -->
                                        <button type="submit" class="btn bg-teal btn-lg m-l-10 waves-effect  pull-right" ng-click="addPatient(patient)">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </section>
</div>

  <!-- <div id="editModal" class="modal fade" role="dialog">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title" >Edit Patient</h4>
             </div>
             <div class="modal-body">
                 <div class="col-lg-12 ">
                     <div class="form-group row">
                         <label for="clinic_name" class="col-md-4 col-form-label">Full Name</label>
                         <input class="form-control" ng-model="patientToBeEdit.fullName" id="patient_name" type="text"/>
                     </div>
                     <div class="form-group row">
                         <label for="clinic_time" class="col-md-4 col-form-label">Contact Number</label>
                         <input class="form-control" ng-model="patientToBeEdit.contactNumber" id="contact_number" type="text"/>
                     </div>
                     <div class="form-group row">
                         <label for="clinic_date" class="col-md-4 col-form-label">Language</label>
                         <input class="form-control" ng-model="patientToBeEdit.language" id="language" type="text"/>
                     </div>
                     <div class="form-group row">
                         <label for="clinic_doctor" class="col-md-4 col-form-label">Date of Birth</label>
                         <input type="date" ng-model="patientToBeEdit.dateOfBirth" value="patientToBeEdit.dateOfBirth" placeholder="Date of Birth" class="form-control" 			name="date"/>
                     </div>
                     <div class="form-group row">
                         <label for="clinic_category" class="col-md-4 col-form-label">Gender</label>
                         <select class="form-control" ng-model="patientToBeEdit.gender">
                           <option value="Male">Male</option>
                           <option value="Female">Female</option>
                         </select>
                     </div>
                     <div class="form-group row">
                         <label for="num_patients" class="col-md-6 scol-form-label">Contact Person Number</label>
                         <input class="form-control"  ng-model="patientToBeEdit.contactPersonNumber" id="contactPersonNumber" type="text">
                     </div>
                     <div class="form-group row">
                         <div class="btn btn-danger" ng-click="edit()"  data-dismiss="modal">Save</div>
                         <div class="btn btn-default"  data-dismiss="modal">Cancel</div>
                     </div>
                 </div>
             </div>
             <div class="modal-footer">

             </div>
         </div>
     </div>
 </div> -->

 <!-- Modal -->
<!-- <div class="modal fade " id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="card-block">

                <div class="form-group row">
                    <label class="col-md-7 form-control-label">Are You sure you want to Add the record?</label>
                </div>
            </div>
            <div class="card-footer"  ng-controller="add_drugs" >
                <button type="submit" class="btn btn-sm btn-primary"  ng-click="AddDrug()" data-dismiss="modal"><i class="fa fa-dot-circle-o" ></i>
                    ADD
                </button>
                <button type="button"class="btn btn-sm btn-primary" data-dismiss="modal"><i class="fa fa-dot-circle-o" ></i>Close</button>
            </div>
        </div>
    </div>
</div> -->
