<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                Bill
            </h2>
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">

                        <ul class="header-dropdown m-r-0">
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="material-icons">info_outline</i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="material-icons">help_outline</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form ng-submit="addNewPatient()">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" ng-model="bill.nbr"/>
                                                <label class="form-label">Bill No</label>
                                            </div>
                                        </div>
                                        <!-- <tr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-label">Drug Name</label>
                                                  </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-label">Quantity</label>
                                                  </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-label">Unit Price</label>
                                                  </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-label">Bill Amount</label>
                                                  </div>
                                            </div>
                                          </div>
                                  </tr> -->
                                  <div class="body">
                                      <input type="text" class="form-control" placeholder="Search" ng-model="searchName">
                                      <div class="" ng-class="{'table-responsive p-t-10':editable}">

                                      <table class="table table-bordered table-striped table-hover dataTable responsive" id="main1">
                                              <thead>
                                                  <tr>
                                                      <th ng-click="sortType = 'id'; sortReverse = !sortReverse">#<span ng-show="sortType == 'id' && sortReverse == false" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'id' && sortReverse == true" class="fa fa-caret-up"></span></th>
                                                      <th ng-click="sortType = 'name'; sortReverse = !sortReverse">Drug Name<span ng-show="sortType == 'name' && sortReverse == false" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'name' && sortReverse == true" class="fa fa-caret-up"></span></th>
                                                      <th ng-click="sortType = 'email'; sortReverse = !sortReverse">Quantity<span ng-show="sortType == 'email' && sortReverse == false" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'email' && sortReverse == true" class="fa fa-caret-up"></span></th>
                                                      <th ng-click="sortType = 'cNumber'; sortReverse = !sortReverse">Unit Price<span ng-show="sortType == 'cNumber' && sortReverse == false" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'cNumber' && sortReverse == true" class="fa fa-caret-up"></span></th>
      			                                    <th ng-click="sortType = 'address'; sortReverse = !sortReverse">Bill Amount<span ng-show="sortType == 'address' && sortReverse == false" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'address' && sortReverse == true" class="fa fa-caret-up"></span></th>

                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr ng-repeat="bill in model | orderBy:sortType:sortReverse | filter:searchName" ng-include="getTemplate(supplier)">
                                              </tr>

                                              </tbody>
                                          </table>
                                        </div>
                                  </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default btn-lg m-l-10 waves-effect  pull-right">Generate Bill</button>

                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </section>
